.banner {
  position: relative;
  padding: 10rem 0;
  background-color: $c-light2;
  color: $c-blu5;
  z-index: 1;
  &-how {
    background-color: transparent;
    .title-h1 {
      text-align: center;
    }
    .decor-box {
      display: none;
    }
  }
  .decor-box {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    right: 0;
    bottom: 0;
    @include vwbox(100);
    &::after,
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: $c-sec;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    &::after {
      bottom: 100%;
      right: 100%;
      width: 77%;
      height: 77%;
    }
  }
}
@include max(1024px) {
  .banner {
    padding: 8rem 0;
  }
}
@include max(768px) {
  .banner {
    .title-h1 {
      text-align: left;
      br {
        display: none;
      }
    }
    padding: 6rem 0;
  }
}
