.blog {
  &-menu {
    position: sticky;
    top: 0;
    z-index: 5;
    text-align: center;
    background-color: $c-light2;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    .container {
      position: relative;
    }
    > ul {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      @include fz(16);
    }
    li {
      display: inline-block;
      position: relative;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row-reverse;
      white-space: nowrap;
      padding: 1.6rem 3rem;
      img {
        @include sqr(2.8rem);
        transition: 0.2s linear;
        margin-right: 4px;
      }
      @include hover(1281px) {
        background-color: $c-prim;
        color: #fff;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
    .current-menu-item {
      > a {
        color: $c-prim;
        img {
          filter: invert(49%) sepia(84%) saturate(7380%) hue-rotate(236deg) brightness(99%) contrast(96%);
        }
        @include hover(1281px) {
          background-color: transparent;
        }
      }
    }
    .menu-item {
      @include hover(1281px) {
        .submenu {
          left: 0;
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
    .submenu {
      position: absolute;
      top: 100%;
      left: 20%;
      opacity: 0;
      pointer-events: none;
      z-index: 2;
      transition: 0.3s ease-out;
      background-color: rgba(237, 248, 254, 1);
      box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.1);
      width: max-content;
      min-width: 20rem;
      li {
        display: block;
      }
      a {
        padding: 1.5rem 2rem 1.3rem;
        width: 100%;
        @include hover(1281px) {
          background-color: #c9ecff;
          color: $c-blu5;
        }
      }
    }
  }
  &-banner {
    position: relative;
    &-title {
      text-align: center;
      padding: 4rem 0;
    }
    &-img {
      padding-top: 35%;
    }
    .decor-box {
      position: absolute;
      pointer-events: none;
      right: 0;
      top: 100%;
      @include vwbox(230);
      &::after,
      &::before {
        content: '';
        display: block;
        width: 66.66%;
        height: 66.66%;
        background-color: $c-blu2;
        position: absolute;
        top: 0;
        right: 0;
      }
      &::after {
        bottom: 0;
        left: 0;
        right: unset;
        top: unset;
        width: 33.33%;
        height: 33.33%;
        background-color: $c-blu4;
      }
    }
  }
  &-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba($color: $c-blu4, $alpha: 0.8);
    color: #fff;
    z-index: 2;
    padding: 5rem 0;
    &-wrap {
      display: flex;
      margin: 0 -2.4rem;
      .title-h2 {
        font-weight: 600;
      }
      .txt {
        @include lc(3);
      }
    }
  }
  &-list {
    position: relative;
    &-wrap {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -2.4rem;
      .col-4 {
        margin-bottom: 4.8rem;
      }
    }
    .decor-box {
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      @include vwbox(144);
      background-color: $c-pri;
    }
  }
  &-detail {
    &-social {
      position: fixed;
      top: 50%;
      right: 2rem;
      transform: translateY(-50%);
      z-index: 5;
      ul {
        background-color: #fff;
        border-radius: 999px;
        padding: 2rem 0;
        overflow: hidden;
        box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.16);
        a {
          @include sqr(6rem);
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            @include sqr(3.2rem);
            transition: 0.2s linear;
          }
          @include hover() {
            background-color: $c-prim;
            img {
              filter: brightness(0) invert(1);
            }
          }
        }
      }
      @include max(1366px) {
        top: 50%;
        right: 3rem;
        ul {
          padding: 1.5rem 0;
          a {
            padding: 1rem;
            @include sqr(4rem);
          }
        }
      }
    }
    &-intro {
      background-color: $c-blu3;
      color: #fff;
      padding-bottom: 34rem;
      .col-10 {
        margin: 0 auto;
        padding: 0;
      }
      .align-content {
        margin-bottom: 6rem;
      }
    }
    &-author {
      display: flex;
      align-items: center;
      .ava {
        @include cir(8rem);
        margin-right: 1.2rem;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .info {
        max-width: calc(100% - 9.2rem);
      }
      .name {
        font-size: 1.6rem;
        font-weight: 600;
      }
      .date {
        font-size: 1.6rem;
      }
    }
    &-img {
      margin-top: -29rem;
      .ratio-box {
        padding-top: 35%;
      }
    }
    &-content {
      overflow: hidden;
      .col-8 {
        margin: 0 auto;
        padding: 0;
      }
      .decor-box {
        position: absolute;
        pointer-events: none;
        z-index: -1;
        @include vwbox(141);
        bottom: 100%;
        right: 2.4rem;
        &::after,
        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-color: $c-light2;
          position: absolute;
          top: 0;
          left: 0;
        }
        &::after {
          top: 100%;
          left: 100%;
          width: 66%;
          height: 66%;
        }
      }
    }
    &-highlight {
      position: relative;
      padding: 4.8rem 3.2rem;
      margin: 5rem;
      font-size: 1.6rem;
      &::before,
      &::after {
        content: '';
        @include sqr(3.2rem);
        background-color: $c-pri;
        position: absolute;
        top: 0;
        left: 0;
      }
      &::before {
        top: unset;
        left: unset;
        right: 0;
        bottom: 0;
      }
    }
  }
  &-ser {
    position: absolute;
    top: 50%;
    right: 2.4rem;
    transform: translateY(-50%);

    &-btn {
      @include cir(4rem);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #edf8fe;
      transition: 0.2s linear;
      z-index: 5;
      position: relative;
      img {
        transition: 0.2s linear;
        @include cir(2.8rem);
      }
      @include hover() {
        background-color: $c-prim;
        img {
          filter: brightness(0) invert(1);
        }
      }
    }
    &-wrap {
      z-index: 4;
      position: absolute;
      top: 0;
      right: 0;
      max-width: calc(100vw - 4.8rem);
      width: 0;
      height: 100%;
      pointer-events: none;
      overflow: hidden;
      transition: 0.2s linear;
      border-radius: 999px;
      .catalog-search-inp {
        height: 4rem;
        display: flex;
        align-items: center;
        border-color: #fff;
        background-color: #fff;
        padding: 0 5rem 0 1.5rem;
      }
    }

    &.active {
      .blog-ser-btn {
        background-color: $c-prim;
        img {
          filter: brightness(0) invert(1);
        }
      }
      .blog-ser-wrap {
        box-shadow: 0.5rem 0.5rem 3rem rgba($color: #000000, $alpha: 0.16);
        width: 21rem;
        pointer-events: auto;
      }
    }
  }
  &-mobile {
    display: none;
  }
}
@include max(1280px) {
  .blog {
    &-menu {
      .container {
        padding-right: 7.4rem;
      }
      &-wrap {
        max-width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        &::-webkit-scrollbar-thumb {
          background-color: $c-prim;
        }
      }
      ul {
        display: flex;
        width: max-content;
        max-width: unset;
      }

      a {
        padding: 1.2rem 2rem;
        display: inline-block;
        img {
          @include sqr(2rem);
          vertical-align: middle;
          float: left;
          margin-bottom: -2px;
        }
      }
      .sub-menu-wrap {
        display: inline-block;
        width: max-content;
      }
      .submenu {
        display: flex;
        position: static;
        opacity: 1;
        pointer-events: auto;
        background-color: transparent;
        box-shadow: none;

        a {
          padding: 1.2rem;
        }
      }
    }
    &-detail {
      &-social {
        position: static;
        transform: none;
        margin-top: 3rem;
        ul {
          box-shadow: none;
          display: flex;
          width: max-content;
          padding: 0;
          a {
            @include cir(5rem);
            img {
              width: 2rem;
            }
          }
        }
      }
      &-intro {
        padding-bottom: 25rem;
      }
      &-author {
        .ava {
          @include cir(6rem);
        }
        .info {
          max-width: calc(100% - 7.2rem);
        }
      }
      &-img {
        margin-top: -20rem;
        .ratio-box {
          padding-top: 35%;
        }
      }
      &-content {
        .col-8 {
          width: calc(100% / 12 * 10);
        }
      }
      &-highlight {
        position: relative;
        padding: 3.2rem 2.4rem;
        margin: 5rem;
        font-size: 1.6rem;
        &::before,
        &::after {
          @include sqr(2.4rem);
        }
      }
    }
  }
}
@include max(1024px) {
  .blog {
    &-menu {
      ul {
        margin: 0 -1.5rem;
      }
      a {
        padding: 1rem 1.5rem;
      }
    }
    &-content {
      padding: 3rem 0;
      &-wrap {
        .col-7,
        .col-5 {
          width: 50%;
        }
      }
    }
  }
}
@include max(768px) {
  .blog {
    &-banner {
      &-img {
        padding-top: 60%;
      }
    }
    &-menu {
      .container {
        padding-right: 2.4rem;
      }
    }
    &-content {
      padding: 1.5rem 0;
      &-wrap {
        .col-7 {
          width: 100%;
        }
        .col-5 {
          display: none;
        }
      }
    }
    &-list {
      &-wrap {
        .col-4 {
          width: 50%;
        }
      }
    }
    &-detail {
      &-intro {
        padding-bottom: 10rem;
        .col-10 {
          width: 100%;
        }
        .align-content {
          margin-bottom: 4rem;
        }
      }
      &-author {
        .ava {
          @include cir(4rem);
        }
        .info {
          max-width: calc(100% - 5.2rem);
        }
      }
      &-img {
        margin-top: -5rem;
      }
      &-content {
        .col-8 {
          width: 100%;
        }
      }
      &-highlight {
        margin: 5rem 0;
        font-size: 1.4rem;
      }
    }
    &-mobile {
      display: block;
    }
    &-desktop {
      display: none;
    }
    &-ser {
      padding: 2rem 2.4rem;
      position: static;
      transform: none;
      background-color: $c-light2;
      &-wrap {
        position: static;
        max-width: 100%;
        width: 100%;
        pointer-events: auto;
        .catalog-search-inp {
          height: auto;
          padding: 1.2rem 1.5rem 1.2rem 5rem;
          background-color: #fff;
          border-color: #fff;
        }
      }
    }
  }
}
@include max(480px) {
  .blog {
    &-banner {
      &-img {
        padding-top: 80%;
      }
    }
    &-list {
      &-wrap {
        .col-4 {
          width: 100%;
          margin-bottom: 2.4rem;
        }
      }
    }
  }
}
