.video {
  overflow: hidden;
  text-align: center;
  .btn-pri {
    margin-top: 6rem;
  }
  &-wrap {
    position: relative;
    padding-top: 56.25%;
  }
  &-inner {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    height: 100%;
    width: 100%;

    transition: 0.5s ease-out;
    iframe,
    video {
      width: 100%;
      height: 100%;
    }
    .fullscreen & {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  &-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    transition: 0.3s ease;

    &.hide {
      opacity: 0;
      pointer-events: none;
      transition-delay: 0.5s;
    }
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000;
      opacity: 0.6;
      pointer-events: none;
      z-index: -1;
    }
  }
  &-icon {
    display: block;
    height: 0;
    width: 0;
    border: 4.5rem solid transparent;
    border-right: none;
    border-left: 7rem solid rgba(255, 255, 255, 0.5);
    @include max(1024px) {
      border: 3rem solid transparent;
      border-right: none;
      border-left: 4rem solid rgba(255, 255, 255, 0.5);
    }
  }
  &-title {
    text-align: center;
    @include fz(64);
    font-weight: bold;
    margin: 6rem 0;
    max-width: 66.66%;
  }
  margin-bottom: 10rem;
}
@include max(1024px) {
  .video {
    &-inner {
      max-height: calc(100% - 10rem);
      max-width: calc(100% - 4.8rem);
    }
    &-icon {
      border: 3rem solid transparent;
      border-right: none;
      border-left: 4rem solid rgba(255, 255, 255, 0.5);
    }
    &-title {
      margin: 3rem 0;
    }
  }
}
@include max(768px) {
  .video {
    &-icon {
      display: none;
    }
    &-title {
      margin: 0;
      padding: 3rem;
    }
    margin-bottom: 6rem;
  }
}
