.breadcrumb {
  font-size: 1.6rem;
  color: rgba(170, 170, 170, 1);
  margin-bottom: 2rem;
  a {
    &:last-child {
      color: $c-pri;
    }
    @include hover() {
      color: $c-pri;
    }
  }
}
